<mat-tab-group>
  <mat-tab *ngFor="let value of spriteVersions" label="{{coreUtils.stringFormater(value.version, '-', '/')}}" class="sprite-tab">
    <div class="sprite-content">
      <div class="d-row">
        <div [id]='divImage'>
          <img [src]="value.sprite.front" width="300" height="300">
          <img [src]="value.sprite.back" width="300" height="300" class="d-none">
        </div>
        <button class="revert-btn" (click)="revertImage()">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" viewBox="0 0 18 18">
            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
          </svg>
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<div class="form-filter-div">
  <form [formGroup]="formFilter">
    <mat-button-toggle-group formControlName="gender" (change)="reviewShowedSprite()">
      <mat-button-toggle value="male">Male</mat-button-toggle>
      <mat-button-toggle value="female">Female</mat-button-toggle>
    </mat-button-toggle-group>
    <mat-checkbox formControlName="shiny" (change)="reviewShowedSprite()" style="margin: 10px;">Shiny</mat-checkbox>
  </form>
</div>
